* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
	background-color: #000000;
}

header {
	margin: auto;
	width: 100%;
	height: 280px;
	font-family: Arial;
	background-color: #AEA7EA;
}

.menu_bar {
	display: none;
}

.barra_navegacion {
	width: 100%;
	margin:  0px auto;
	background-color:  #090467;
	z-index: 1000;
}

.barra_navegacion ul {
	list-style: none; 	
}

.barra_navegacion a {
	font-family: "Arial Black";
	color: #FFFFFF;
	font-size: 25px;
}

.barra_menu li {
	display: inline-block;
	position: relative;
}

.barra_menu li:hover {
	transition: all .5s;
	background-color:  #000000;
}

.barra_menu li a {
	transition: all .5s;
	display: block;
	padding: 20px;
	text-decoration: none;
}

.menu-desplazable {
	position:fixed;
	z-index:1000;
	top:0;
	width:100%;
}

section {
	align-items: center;
	width: 100%;
	background-color: #9FE0E0;
	color: #000000;
	font-family: "Times New Roman"
}

footer {
	background-color: #38006D;
	color: #FFFFFF;
	align-items: center;
	width: 100%;
	height: 100px;
	font-size: 20px;
}